EXPO_PUBLIC_API_URL=http://YOUR_COMPUTER_IP:8000/api

// Add you computer's IP address in place of YOUR_COMPUTER_IP. 
// You can find your computer's IP address by running `ipconfig` on Windows or `ifconfig` on Mac/Linux in the terminal.